.carTrack {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;

  @media (max-width: 768px) {
    padding-top: 20px;
    flex-direction: column-reverse;
    align-items: end;
  }
}

.carName {
  font-size: 1.1rem;
}

.trackLayout {
  width: 100%;
  display: flex;
  gap: 15px;
}

.controls {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.roadLane {
  position: relative;
  background: url('../../../assets/svg/road.svg');
  background-repeat: repeat;

  height: 76px;
  display: flex;
  justify-content: end;
  padding: 0 30px;
  width: 100%;

  @media (max-width: 768px) {
    padding: 0 10px;
  }
}

.car {
  position: absolute;
  left: 0px;
  top: -50px;
  width: 110px;
  aspect-ratio: 1 / 1;

  @media (max-width: 768px) {
    top: -30px;
    width: 90px;
  }
}

.finishImg {
  position: relative;
  width: 50px;

  @media (max-width: 768px) {
    width: 40px;
  }
}

.button {
  width: 35px;

  .iconImage {
    width: 17px;
  }

  .iconSubImage {
    width: 20px;
  }
}

.raceButton {
  .iconImage {
    width: 15px;
    transform: translateX(1px);
  }
}

.resetButton {
  .iconImage {
    width: 14px;
  }
}
