.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  width: 100%;
}

.arrow {
  border: 0;
  width: 45px;
  aspect-ratio: 1 / 1;
  border-radius: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  cursor: pointer;
  color: var(--white);
  transition: all 0.3s;

  &:hover:not(.disabled) {
    background-color: var(--blue-deep);
    color: var(--blue-light);
  }

  &.disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }
}
